*{
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background-image: url(Images/webdev.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: center;   
    padding: 0 20px;
   
}

h1{
    background: linear-gradient(to top, #ffe838, #fd57bf) ;
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent ;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding-bottom: 10px;
    
}

.animatedText
{
    animation: fadeAndScale 1s cubic-bezier(0,1.07,.72,1.42);
    transform-origin: center bottom;
   
}

@keyframes fadeAndScale {
    from{
opacity: 0;
transform: scale3d(.75, .75, 1);
    }
    to{
opacity: 1;
transform: scale3d(1, 1, 1);
    }
}

p{
    animation: fadeAndScale1 1s ease-in;
    transform-origin: center bottom;
    animation-delay: -.2s
}
@keyframes fadeAndScale1 {
    from{
opacity: 0;
transform: scale3d(.75, .75, 1);
    }
    to{
opacity: 1;
transform: scale3d(1, 1, 1);
    }
}


.button{
color: red;
text-decoration: none;
border: white 1px solid;
padding: 10px 20px;
border-radius: 12px;
font-size: 18px;
animation: slide 3s ease-in;
transform-origin: center bottom;
animation-delay: -.2s;
}

@keyframes slide{
    from{
opacity: 0;
transform: scale3d(.75, .75, 1);
    }
    to{
opacity: 1;
transform: scale3d(1, 1, 1);
    }
}



.button:hover{
    background: darkblue;
    color: white;
}

p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px ;
}



