* {
    box-sizing: border-box;
    font-family: 'Bitter', serif; 
  }

.navbar-brand {
  background-color: teal;
text-align: center;
width: 150px;
color: white !important;
}

body {
  background-color: #f1f1f1;
}

/* Center website */
.main {
  max-width: 700px;
  height: auto;
  margin: auto;
  background-color: white;
  padding-bottom: 30px;
  
}

.content {
  background-color: white;
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.carousel-wrapper {
  width: 450px;
  margin: auto;
  padding:1px;
    border:1px solid #021a40;
    background-color:gray;;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .carousel-wrapper{
    width: 100%;
    height: 100%
  }
}

footer{
  background-color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0 ;
  width: 100%;

}